body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
}

* {
    box-sizing: border-box;
}

.card {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #292929;
}

.card-part {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 75px 0px;
}

.card-box {
    width: 33.33%;
    margin: 0;
    float: left;
    padding: 20px 10px;
}

.card-blog {
    height: 300px;
    width: 100%;
    text-align: center;
    border: 1px solid #808489;
    padding: 15px 20px;
}

.card-blog:hover {
    border: 1px solid #d73e4d;
}

.card-blog:hover > .card-doc h4 {
    color: #d73e4d;
    transform: translateY(-70%);

}

.card-blog:hover > .card-img > .font {
    color: #d73e4d;
    transform: translateY(-75%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background-color: #292929;
    padding: 0px 20px;
}

.card-doc {
    margin: 0;
}

.font {
    color: #6f6f6f;
    font-size: 48px;
    padding: 10px 0px;
}

.card-doc h4 {
    color: #6f6f6f;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin: 0;
    padding: 20px 0px;
}

.card-doc p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 10px 0px;
}

.card-blog:hover > .card-doc p {
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 3s;
    transition-timing-function: ease-in-out;
}

