body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
}

* {
    box-sizing: border-box;
}

.card {
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: #292929;
}

.card-part {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 75px 0px;
}

.card-box {
    width: 33.33%;
    margin: 0;
    float: left;
    padding: 20px 10px;
}

.card-blog {
    height: 300px;
    width: 100%;
    text-align: center;
    border: 1px solid #808489;
    padding: 15px 20px;
}

.card-blog:hover {
    border: 1px solid #d73e4d;
}

.card-blog:hover > .card-doc h4 {
    color: #d73e4d;
    transform: translateY(-70%);

}

.card-blog:hover > .card-img > .font {
    color: #d73e4d;
    transform: translateY(-75%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background-color: #292929;
    padding: 0px 20px;
}

.card-doc {
    margin: 0;
}

.font {
    color: #6f6f6f;
    font-size: 48px;
    padding: 10px 0px;
}

.card-doc h4 {
    color: #6f6f6f;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin: 0;
    padding: 20px 0px;
}

.card-doc p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 10px 0px;
}

.card-blog:hover > .card-doc p {
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 3s;
    transition-timing-function: ease-in-out;
}

.section-two {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0px;
}

.image-gap {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.image-box {
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 10px;
    overflow: hidden
}

.image-size {
    height: 250px;
    width: 100%;
    margin: 0;
}

.imgone {
    background-image: url(../images/1.jpg);
    background-size: cover;
}

.imgtwo {
    background-image: url(../images/2.jpg);
    background-size: cover;
}

.imgthree {
    background-image: url(../images/3.jpg);
    background-size: cover;
}

.imgfour {
    background-image: url(../images/4.jpg);
    background-size: cover;
}

.imgfive {
    background-image: url(../images/5.jpg);
    background-size: cover;
}

.imgsix {
    background-image: url(../images/6.jpg);
    background-size: cover;
}

.imgseven {
    background-image: url(../images/7.jpg);
    background-size: cover;
}

.imgeight {
    background-image: url(../images/8.jpg);
    background-size: cover;
}

.imgnine {
    background-image: url(../images/9.jpg);
    background-size: cover;
}

.image-size:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}
